@font-face{

    font-family: 'Roboto';
    src: url('roboto/Roboto-Regular.ttf') format('truetype'),
    url('roboto/Roboto-Bold.ttf') format('truetype'),
    url('roboto/Roboto-Italic.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: rgb(184, 177, 177);
    color: #323232;
}

img{
    max-width: 100%;
}

.icon{
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1.2em;
    overflow: visible;
    opacity: 0.75;
}

.interest-container .icon{
    height: 2.4em;
}

a{
    color: #323232;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    max-width: 75%;
    margin: 2% auto;
    padding: 3%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgray;
}

.section:first-child{
    grid-template-columns: 1fr;
}

.section:last-child{
    border-bottom: none;
}

.section-title{
    font-weight: bold;
    font-size: 18px;
    border-right: 1px solid lightgray;
}

img.avatar{
    width: 25%;
    height: 85%;
    display: inline-block;
    border-radius: 50%;
    margin-left: 35%;
}

.my-name{
    font-size: 2.7em;
    text-align: center;
    line-height: 1;
}

.my-title{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #236fb2;
}

.links{
    display: flex;
    margin: 10px 0 20px 0;
}

.link-item{
    display: flex;
    align-items: center;
    flex: 0.5;
    
}

.link-item img{
    margin-right: 6px;
}

.job{
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid lightgrey;
}

.job:last-child{
    border-bottom: none;
}

.job-title-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.job-company{
    font-weight: bold;
    line-height: 1.2;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 24px;
}

.skills-container ul{
    margin-left: 20px;
    list-style-type: disc;
}

.interest-container{
    display: flex;
    justify-content: space-between;
}

.interest-container img{
    height: 35px;
    opacity: 0.75;
}

.reference{
    font-size: 18px;
}

/*Pour les téléphones*/
@media screen and (max-width: 578px){
    body{
     background-color: rgb(95, 95, 134);
    }
   
    .container{
       max-width: 87%;
       margin: 2% auto;
   
    }

    .section-title{
        border-right: none;
    }

   }

/*Pour les tablettes*/
@media screen and (max-width: 768px){

    .container{
        max-width: 85%;
        margin: 2% auto;
    
     }
    section{
        grid-template-columns: 1fr;
    }

    .links, .job-title-container{
        flex-direction: column;
    }

    .skills-container{
        grid-template-columns: 1fr 1fr;
    }

    .interest-container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .interest-container img{
        margin-right: 5%;
        margin-bottom: 5%;
    }

    img.avatar{
        width: 40%;
        height: 85%;
    }

    .job{
        margin-bottom: 1%;
    }

}
